html
	head
		title ViriCiti App
		meta(meta name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css", type="text/css")
	body
		.container(style="margin-top: 3em;")
			#app
				.row
					.col-4(v-for="vehicle in vehicles")
						.card
							.card-header
								span {{ vehicle.vehicle }}
							.card-body
								table
									tr
										td Energy
										td {{ vehicle.energy }}
									tr
										td Odometer
										td {{ vehicle.odo }}
									tr
										td SoC
										td {{ vehicle.soc }}
									tr
										td Speed
										td {{ vehicle.speed }}

		script(src="/app.js")
